<img [src]="user.picture.large" class="photo">

<div style="display: flex">
  <div class="name">{{ user.name.first }} {{ user.name.last }}</div>
  <img
    width="25px"
    src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{user.nat}}.svg"/>
</div>
<div> {{ user.dob.date | date }} </div>

<a href="mailto: {{user.email}}">{{user.email}}</a>
<div>{{user.cell}}</div>
<i class="bi bi-gender-female gender" *ngIf="isFemale()"></i>
<i class="bi bi-gender-male gender" *ngIf="!isFemale()"></i>

<i class="bi bi-three-dots-vertical menu"></i>



