:host {
  display: inline-flex;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  font-size: 14px;
}

.gender-box {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.gender-box:hover {
  background: #f3f2ef;
}

.gender-box > span {
  margin-left: 5px;
}

.gender-box > .bi-gender-male {
  color: blue;
}

.gender-box > .bi-gender-female {
  color: blueviolet;
}

.vertical-line {
  height: 100%;
  width: 1px;
  border: 0;
  background: lightgray;
}
