:host {
  display: inline-flex;
  height: 40px;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
}

.view-box {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 0;
}

.view-box:hover {
  background: #f3f2ef;
}

.view-box.selected {
  background: #f3f2ef;
}


.view-box > span {
  margin-left: 5px;
}

.view-box > i {
  font-size: 16px;
}

.vertical-line {
  height: 100%;
  width: 1px;
  border: 0;
  background: lightgray;
}
