:host {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  row-gap: 5px;
}

:host > * {
  align-self: center;
}

.photo {
  border-radius: 50%;
}

.gender {
  font-size: 20px;
}

.gender.bi-gender-male {
  color: blue;
}

.gender.bi-gender-female {
  color: blueviolet;
}

.header {
  font-weight: 600;
  height: 30px;
}
